@{
    ViewData["Title"] = "File Uploader";
}
<h1>@ViewData["Title"]</h1>


<p>Click on the button to get a current list of files.</p>

<a class="btn btn-primary" asp-area="" asp-controller="BlobActions" asp-action="GetFiles" type="button" value="Query">Query</a>
