@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome File Uploader</h1>
    
    <h4 class="display-4">Here you will be able to upload you files to Azure Blob containers for storage. Click on the File Upload button in the navagation bar at the top.</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

