@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome File Uploader</h1>
    
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/Microsoft Fluent Design Emojis (Community).png" class="d-block w-100" alt="...">
        </div>
        @* <div class="carousel-item"> *@
        @*   <img src="..." class="d-block w-100" alt="..."> *@
        @* </div> *@
        @* <div class="carousel-item"> *@
        @*   <img src="..." class="d-block w-100" alt="..."> *@
        @* </div> *@
    </div>
    <br />
</div>
<div class="text-center">
    <p> Here you will be able to upload you files to Azure Blob containers for storage. Click on the File Upload button in the navagation bar at the top.</p>
    <p>Learn about <a href="https://github.com/JustJordanT/cloudFileUploader"> Cloud File Uploader</a>.</p>
</div>
    
