@{
    ViewData["Title"] = "Uploader";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to upload your files to Azure Blob Containers.</p>

<ul>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FileUploader">FileUploader</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetFiles">GetFiles</a>
</ul>